.banner-size {
    /* height: 500px; */
    
    align-items: bottom;
}

.alignLogo {
    
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}
/* 
#imagenGio{
    width: 50px;
} */